.footer__services {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .footer__services {
    margin: 0 0 16px;
  }
}

@media screen and (max-width: 320px) {
  .footer__services {
    margin: 0 0 16px;
  }
}