.header__logo {
  display: block;
  background-image: url(../../../images/header-logo.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 176px;
  height: 52px;
}
.header__logo:hover {
  opacity: 0.8;
}
@media (max-width: 320px) {
  .header__logo {
      width: 142px;
      height: 42px;
  }
}
