.lead__image {
  width: 100%;
  max-width: 984px;
  height: 615px;
  margin: 0 auto;
  margin-bottom: 8px;
  object-fit: contain;
  object-position: center;
}
@media (max-width: 1024px) {
  .lead__image {
    max-width: 928px;
    height: 580px;
  }
}
@media (max-width: 768px) {
  .lead__image {
    max-width: 768px;
    height: 480px;
  }
}
@media (max-width: 320px) {
  .lead__image {
    max-width: 320px;
    max-height: 200px;
  }
}