.place__website-link {
  margin: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-decoration-line: underline;
  color: #FFFFFF;
  transition: 1s;
  cursor: pointer;
}

.place__website-link:hover {
  opacity: 0.8;
}