.lead__caption {
  margin: 0;
  display: flex;
  font-weight: 400;
  font-size: 0.6em;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
@media (max-width: 1024px) {
  .lead__caption {
      max-width: 928px;
      margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .lead__caption {
      max-width: 768px;
      margin-left: 24px;
  }
}
@media (max-width: 320px) {
  .lead__caption {
      margin-left: 16px;
  }
}
