.cover__title {
  width: 100%;
  max-width: 560px;
  margin: 0;
  margin-bottom: 32px;
  color: #ffffff;
  text-align: center;
  font-weight: 900;
  font-size: 4.5em;
  line-height: 76px;
  text-decoration: none;
  z-index: 4;
}
@media (max-width: 550px) {
  .cover__title {
    max-width: 480px;
    font-size: 3.8em;
    line-height: 65px;
  }
}
@media (max-width: 430px) {
  .cover__title {
    max-width: 350px;
    font-size: 3em;
    line-height: 55px;
  }
}
@media (max-width: 380px) {
  .cover__title {
    max-width: 310px;
    font-size: 2.5em;
    line-height: 45px;
  }
}
@media (max-width: 320px) {
  .cover__title {
    max-width: 255px;
    margin-bottom: 16px;
    font-size: 2em;
    line-height: 35px;
  }
}
