.place {
  width: 100%;
  max-width: 984px;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
  grid-template-rows: 1fr;
  row-gap: 48px;
  column-gap: 40px;
}
.place:last-child {
  margin-bottom: 0;
}
@media (max-width: 1024px) {
  .place {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 32px;
  }
}
@media (max-width: 768px) {
  .place {
    margin-bottom: 73px;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    column-gap: 28px;
  }
}
@media (max-width: 630px) {
  .place {
    display: flex;
    flex-direction: column;
    text-align: start;
  }
}
@media (max-width: 320px) {
  .place {
    row-gap: 32px;
    margin-bottom: 50px;
  }
}
