.footer {
  width: calc(100% - 48px * 2);
  max-width: 1184px;
  margin: 0 auto;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}
@media (max-width: 768px) {
  .footer {
    width: calc(100% - 24px * 2);
  }
}
@media (max-width: 700px) {
  .footer {
    width: 100%;
    max-width: 700px;
    flex-direction: column;
  }
}
@media (max-width: 320px) {
  .footer {
    margin-left: 16px;
    max-width: 186px;
    flex-direction: column;
  }
}